/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
} 

.wheel {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: #f7f7f7;
  border-radius: 50%;
  overflow: hidden;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 100px;
  background-color: red;
  transform-origin: center;
  transform: translateX(-50%) rotate(0deg);
  transition: transform 3s ease-out;
}

#spinButton {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  font-size: 16px;
}
*/


.container_c {
  display: block;
  width: 520px;
  height: 520px;
  border-radius: 520px;
  overflow: hidden;
  position: relative;
  background-color: #f0beff;
 }
 
 .item_c {
  position: absolute;
  display: flex;
  width: 50%;
  height: 50%;
  border: 2px solid #1f1172;
  color: #f0beff;
  background-color: #343baa;
  top: 0;
  right: 0;
  transform-origin: 0% 100%;
  justify-content: center;
  align-items: center;
 }
 
 .item-skew_c:nth-child(1) {
  -webkit-transform: rotate(60deg) skewY(-30deg);
  transform: rotate(60deg) skewY(-30deg);
 }
 
 .item-content_c {
  display: flex;
  width: 100px;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  font-weight: bold;
  transform-origin: center center;
  transform: skewY(30deg) rotate(30deg) translate(-95px, 62px);
  position: absolute;
  right: 0;
  bottom: 0;
 
  i {
    font-size: 4rem;
  }
 }