@font-face {
  font-family: 'GenSenRounded-H';
  src: url('../fonts/GenSenRounded-H.ttc') format('truetype');
  font-weight: normal;  /* 或者 font-weight: bold; 根據需要 */
  font-style: normal;   /* 或者 font-style: italic; 根據需要 */
}

@font-face {
  font-family: 'GenSenRounded-B';
  src: url('../fonts/GenSenRounded-B.ttc') format('truetype');
  font-weight: normal;  /* 或者 font-weight: bold; 根據需要 */
  font-style: normal;   /* 或者 font-style: italic; 根據需要 */
}

body {
  /* background: #ffffff; */
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'GenSenRounded-H', sans-serif;
  /* overflow-x: hidden; */
  /* height: 10px; */
}
/* body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; 調整表單的高度，可以根據需要調整
} */

.Roulette {
  /* width: 80%; */
  /* height: 80%; */
  /*max-width: 500px; /*最大寬度，可根據需要調整 */
  /*max-height: 500px; /*最大高度，可根據需要調整 */
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  overflow: hidden; /* 保证文字不溢出切片外 */
  background: conic-gradient(
    from 0deg,
    #ff5757 0deg 60deg,
    #ffd700 60deg 120deg,
    #4caf50 120deg 180deg,
    #3498db 180deg 240deg,
    #8e44ad 240deg 300deg,
    #e74c3c 300deg 360deg

    /* #4caf50 0deg 360deg */
  ); 
  box-shadow: 0 0 0 10px #000; /* 設定粗線的寬度和顏色 */
  z-index: 2; /* 設定堆疊順序，使其在最下層 */
}

.S-ta {
  border:0;
  border-radius:5px;
  /* background-color:rgba(241,241,241,98); */
  /* background-color: #ebafd1; */
  /* width:355px; */
  /* height:100px; */
  padding:10px;
  width: 300px; /*與輪盤相同的高度 */
  height: 350px; /* 與輪盤相同的高度 */
  resize: none; /* 禁止改變大小 */
  z-index: 2; /* 設定堆疊順序，使其在最下層 */
  position: relative;
  font-family: 'GenSenRounded-H', sans-serif;
}

.center-image {
  position: absolute;
  /* top: 50%; */
  /* left: 50%; */
  transform: translate(-50%, -50%);
  width: 100px; /* 調整指針圖片的大小 */
  height: 100px;
  background-image: url('img/pointer.png'); /* 指針圖片的路徑 */
  background-size: cover;
  border-radius: 0%;
  z-index: 2; /* 設定堆疊順序，使其在最下層 */
}

.slice-text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 16px;
  color: white;
  transform-origin: 0% 0%;
}
/* 按鈕樣式 */
.S-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  z-index: 2;
  position: relative;
}

.btn {
  font-family: 'GenSenRounded-H', sans-serif;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  z-index: 2;
  width: 300px;
  min-width: 200px;
  background: rgb(31, 30, 30);
  /* border: 2px solid goldenrod; */
  border: 2px solid rgb(255,0,0);
  border-radius: 4px;
  /* color: goldenrod; */
  color: rgb(255,0,0);
  /* font-size: 1rem; */
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  transition: 0.5s;
  padding: 10px 20px;
}
.btn span {
  position: absolute;
  width: 25%;
  height: 100%;
  /* background-color: goldenrod; */
  background-color: rgb(255,0,0);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}
.btn:hover,
.btn:focus {
  /* color: black; */
  color: rgb(255,255,255);
}
.btn:hover span {
  transform: translateY(0) scale(2);
}
.btn span:nth-child(1) {
  --n: 1;
}
.btn span:nth-child(2) {
  --n: 2;
}
.btn span:nth-child(3) {
  --n: 3;
}
.btn span:nth-child(4) {
  --n: 4;
}

/* 輪盤結束顯示動畫 */
.complete-banner {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: #373CA4; 橫條的顏色 */
  background-color: #FCFEA6;
  /* height: 200%; */
  height: 1400px;
  width: 100%;
  display: block; /* 初始隱藏 */
  transition: opacity 1s ease; /* 定義過渡效果，0.5秒的淡入淡出效果 */
  z-index: 1; /* 設定堆疊順序，使其在最上層 */
}

.left-image {
  position: absolute;
  height: 200px;
  bottom: 20px;
  left: 20px;
}

.right-image {
  position: absolute;
  height: 200px;
  bottom: 20px;
  right: 20px;
}

.complete-text {
  font-size: 30px;
  background-color: #FFFFFF;
  color: #281F04; /* 字的顏色 */
  position: absolute;
  white-space: pre-line;
  z-index: 2;
}

.flex-container {
  display: flex;
  height: 600%;
  padding: 10px;
  /* background-color: #526E89; */
  flex-direction:row;

  flex-wrap: wrap;
  /* 修改以下值試試看 flex-start | flex-end | center | space-between | space-around; */
  justify-content: center;
  
  /* 修改以下值試試看 flex-start | flex-end | center | space-between | space-around | stretch */
  align-content: flex-start;
}
.item1 {
  width: 300px;
  /* background-color: #E9FF66; */
  margin: 5px;
  justify-content: center;
  align-items: center;
  color: #526E89;
  font-size: 2rem;
  padding:10px;
}
.item2 {
  width: 300px;
  /* background-color: #E9FF66; */
  margin: 5px;
  justify-content: center;
  align-items: center;
  color: #526E89;
  font-size: 2rem;
  padding:10px;
}